@font-face {
  font-family: MyFont;
  src: url('/fonts/hack.woff2') format('woff2'), 
    url('/fonts/hack.woff') format('woff');
}

body {
  font-family: MyFont, system-ui, Segoe UI, Fira Sans, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: lighter;
  background: #222;
  color: #ddd;
  margin: 0;
  border-top: 3px solid #d95c3a;
}

nav#table-of-contents {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 1rem;
    max-width: 15%;
    border-right: #2765e2 solid 0.15rem;
    background: #222;
    height: 100%;
}

nav#table-of-contents h1,
nav#table-of-contents h2 {
    font-size: 1.125rem;
    margin-bottom: .375rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px dashed rgba(173,181,189,.5);
    margin-top: .375rem;
}

nav#table-of-contents ul {
    padding-left: .5rem;
}

nav#table-of-contents li {
  display:block;
}

nav#table-of-contents a {
  color: #f92672;
}

body h1,
body h2,
body h3,
body h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #1692cc;
}

body h1.title {
  color: #ff9b51;
  font-size: 38px;
}

body h2 {
  margin-top: 22px;
  font-size: 30px;
}

body h3 {
  font-size: 22px;
  margin-top: 20px;
}

body p {
  text-align: justify;
  margin-top: 5px;
}

body a {
  text-decoration: none;
  color: #d95c3a;
}

body a:hover {
  color: #ffd34f;
  text-decoration: underline;
}

body pre {
  overflow-y: auto !important;
  font-size: 12px;
  background: #2e2e31bf;
  border: 1.5px dashed #ea7a21;
  border-radius: 9px;
  box-shadow: none;
}

body code {
  background: #c1c1c1;
  border: 1px solid #bdb0b6;
  padding: 0px 4px;
  color: #061d6f;
  overflow-x: auto;
  font-size: 0.9em;
  border-radius: 2px;
}

body li {
  margin-bottom: 0em;
}

img {
  max-width: 800px;
  border: solid rgba(113, 113, 113, 0.5) 2px;
  border-radius: 8px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.profile {
  border: 2px solid #2e9fff;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 90%;
}

img.no-border {
  border: none;
}

body .pubdate {
  color: #aaa;
  font-family:monospace;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: -15px;
  text-align: right;
  border-bottom: 1px solid #164b78;
}

@media (min-width: 800px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 900px !important;
  }
  body #preamble {
    margin: 0px auto;
    max-width: 900px !important;
  }
}

body #content {
  margin-top: 10px;
}

body #postamble {
  font-size: 0.8em;
  line-height: 1.8em;
  margin-top: 50px;
  text-align: center;
  color: #aaa;
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
}

body #postamble a {
  color: #e9a390;
}

body .intro {
  padding-top: 20px;
  color: #BBB;
  text-align: center;
}

body .intro h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1em;
  margin: 0.3em;
  padding: 0;
  color: #fbfbfb;
}

body .intro p {
  color: #a7e040;
  font-size: 16px !important;
  text-align: center;
}

body .nav {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
  text-transform: uppercase;
}

body .nav ul {
  list-style: none;
  padding: 0;
}

body .nav ul li {
  color: #999;
  display: inline-block;
  margin: 0;
}

body .nav ul li a {
  display: inline-block;
  padding-right: 6px;
  border-radius: 0;
  font-weight: normal;
  color: #6a6a6a;
}

body .nav ul li i {
  font-size: 2em;
}

body #disqus_thread {
  margin-top: 40px;
}

blockquote p {
    text-align: right;
    border-right: solid deepskyblue;
    padding-right: 10px;
}

#postamble p, #preamble p {
    font-size: 100%;
    margin: 0px;
}
